<div class="h-sep" style="margin:20px 0px 10px 0" ></div>
<div align="center" >
	<div  role="footer" class="col-sm-12 form-group">  
		<ul >
		<li class="footerLink"><a href="http://portal/SitePages/IntranetLandingPage.aspx" target="blank">Intranet</a></li>
        <li style="width:1px"><img src="/series/assets/images/bluePipe.png"></li>
		<li class="footerLink"><a href="http://missingkids.org" target="blank">MissingKids.org</a></li>
        <li style="width:1px"><img src="/series/assets/images/bluePipe.png"></li>
		<li class="footerLink"><a href="#/help">Help</a></li>
	</ul>
	</div>
</div>    