
.baseText(@font-color: @basetextcolordark) {
	font-size: @basefontsize;
	letter-spacing: 0.02em;
	font-family: @basefont;
	color: @font-color;
	text-decoration:none;
}

.baseTitle(@font-color: @basetextcolordark) {
	font-family: Amaranth, serif;
	letter-spacing: 0.03em;
	color: @font-color;
	text-decoration:none;
}

/*.title{
	font-family: amaranth, serif;
	font-size: 2em;
  	line-height: 1.5em;
  	color:#165d9a;
  	padding-top: 60px;
	padding-right: 130px;
}
*/
.tab-title {
	display:block;
	float: left;
	font-family: Amaranth, serif;
	text-align: left;
	font-size: 20px;
	padding-left: 10px;
	display:block;
	height: 28px;
	color:#ffffff;
}


.labelText {
	.baseText;
	font-size:1em;
	color: @labeltextcolor;
}

.summaryLabel {
	.baseText;
	font-size:1.1em;
	color: @labeltextcolor;
}


.labelText-small{
	.baseText;
	font-size:.9em;
	color: @basefont;
}

.headerLabel{
	.baseText;
	font-size:.9em;
	letter-spacing: 0em;
	color: #758098;
}

.sub-title{
	.baseTitle;
	font-size:1.2em;
	color: @mediumblue;
	//width: 98%;
	text-align: left;
	//padding-bottom: 20px;
	//background-image: url(../images/hr-sep.png);
	//background-repeat: repeat-x;
	//background-position: 0px 30px;
}

.captionText{
	.baseText;
	font-size: 0.9em;
	font-style: italic;
	color: @titlegray;
}


p {
	.baseText;
}

.baseLinkText {
	.baseText;
	font-size:1em;
	color: @basetexthover;
}

.errorMessage {
	.baseText;
	font-size:1em;
	color: @errormessage;
}

.white-title(@font-size: 20){
	display: block;
	font-family: @basefont;
	//font-family: 'amaranth';
	vertical-align : middle;
	@rem: (@font-size / 10);
	font-size : @font-size * 1px;
	font-size : ~"@{rem}rem"; 
	padding: 5px 10px 5px 10px;
}

.searchSelection{
	.baseText;
	font-size:1.05em;
	color: @mediumblue;
	text-align: left;
	padding-top: 25px;
	 list-style-type: none;
}

.searchSelection >li{
	padding: 0 0 0 30px;
	float: left;
}


