<div class="row ">
	<div class="col-sm-12 ">
		
			<label style="text-align:right; width:125px; padding:0px 0px 0 0">Use Series ID 
			<input type="checkbox" id="NCMECcase"  ng-click=" " style="float:left; margin-top:5px" ng-model="seriesID" >  </label>
		
		<span class="captionText" style="display: inline-block; float:left; padding: 0px 0 0 20px; text-align:left">(If not actively traded, click "Use Series ID") </span>
	</div>
</div>
<div class="row ">	
	<div class="col-sm-3 field-form-group" ng-if="!seriesID">
		<div class="sharedCol4">
			<label>Series Name: </label>
			<input type='text' class='form-control' ng-model='initialInfo.seriesName' />
		</div>
	</div>
	<div class="col-sm-3 field-form-group" >
		<div class="sharedCol4">
			<div  drop-down label="Analyst Name" column="analysts"  model="initialInfo.analystName"></div>
		</div>
	</div> 
	<div class="col-sm-3 field-form-group" >
		<div class="sharedCol4">
			<div  drop-down label="Series Type" column="subjecttype"  model="initialInfo.seriesType"></div>
		</div>
	</div> 
	<div class="col-sm-3 field-form-group">
		<div class="sharedCol4">
			<label>Related to CT/TA: </label>
			<input type='text' class='form-control' ng-model='initialInfo.relatedToCTTA' />
		</div>
	</div>
	<div class="col-sm-2  field-form-group">
		<button class="btn-primary" style="float:left; margin-top:23px"  ng-click="createSeries()">CREATE
		</button>
	</div>
</div>
