<div ng-controller="createSearchCtrl" ng-init="init()">
<!-- SEARCH SELECTOR ///////////////////////////////////////////////-->
    <div class="row " style="margin-bottom:0px" >
        <div class="title" style="float:left; margin:0 0px 0 20px,font-size:1.5em">
            Create/Search for Series
        </div>

         <div style="display:inline-block;float:right;position:relative;top:40px"  ng-if="advancedSearch">
              <span class="tabPos-btn save-btn" style="float:right; padding-right:50px"><a href="" ng-click=" " >Save Search</a></span >
              
              <span class="tabPos-btn uploade-btn" style="float:right; padding-right:20px"><a href=""  ng-click=" " >Load a Search</a></span >
            </div>
    </div>
    <div class="row">
        <div  class="" style="float:left;padding:0 0 0 0px">
            <ul class="searchSelection">
                <li class="tabPos-btn selectSearch-btn"><a href="" id="3"  ng-click="selectSearch($event)"> Create New Series</a></li >
                <li class="tabPos-btn selectSearch-btn selectSearchActive"><a href=""  id="1"  ng-click="selectSearch($event)" > Basic Search</a></li >
                <li class="tabPos-btn selectSearch-btn" id="selectAdvancedsearch-btn"><a href="" id="2"  ng-click="selectSearch($event)" > Advanced Search</a></li >
            </ul>
        </div>
        <div class="" ng-if="advancedSearch" style="margin-top:0px">
            <div class="col-sm-2 form-group"  style="margin-top:0px">
                
                <select kendo-drop-down-list class="form-control" k-options="DDTableOptions" ng-model="fieldData.table"  id="DD-table"  k-on-change="selectTable()"></select>
            <!--  <div drop-down label="Gender" column="genders"  model="fieldData.table"></div> -->
                
            </div> 
            <div class="col-sm-2 form-group" style="margin-top:0px" ng-if="showColumn">
                <select kendo-drop-down-list id="DD-column"  ng-show="fieldData.table != ''"  k-options="DDColumnOptions"  class="form-control show-hide" ng-model="fieldData.column"  ></select>
            </div> 
            <div class="col-sm-1 form-group"  style="margin-top:0px" ng-if="fieldData.column != ''">
                <button class="btn-primary" style="float:left; margin-top:2px"   ng-click="addToList(fieldsToDisplay)">ADD
                </button>
            </div>

        </div> 
    </div>  
<!-- <div class="row " ng-if="basicSearch">
    <span class="captionText" style="display: inline-block; float:left; text-align:left">Search by Name can be wildcarded with '*'</span>
</div> -->
<!-- BASIC / ADVANCED SEARCH ///////////////////////////////////////////////-->
    <div class="row show-hide" ng-if="basicSearch" style="margin-top:20px">
        <div class="col-sm-3  field-form-group"  ng-repeat="field in fieldsToDisplay track by $index">
            <div class="sharedCol4">

                <div ng-if="field.dataType === 'varchar'" text-field label={{field.label}} table={{field.tableLabel}} display='advancedSearch' model='field.model'></div>

                <div ng-if="field.dataType === 'datetime'" date-field label={{field.label}} table={{field.tableLabel}}  display='advancedSearch'  model='field.model'></div>

                <div ng-if="field.dataType === 'dropdown'" drop-down label={{field.label}} table={{field.tableLabel}}  column={{field.column}}  display='advancedSearch'  model='field.model'></div>

                 <div ng-if="field.dataType === 'multiselect'" multi-select label={{field.label}} table={{field.tableLabel}}  column={{field.column}}  display='advancedSearch'  model='field.model'></div>

                <div ng-if="field.dataType === 'int' || field.dataType === 'tinyint'" check-box label={{field.label}} table={{field.tableLabel}}  column={{field.column}}  display='advancedSearch'  model='field.model'></div>

            </div>
            <div >
                <span class="remove-btn" ng-show="$index >0 && advancedSearch"><a href="" ng-click="removeFromList(fieldsToDisplay, $index)"></a></span>            
            </div>
        </div>
        <div class="col-sm-3  field-form-group" style="float:left">
            <button class="btn-primary" style="float:left; margin-top:23px" ng-click="getSeries()">SEARCH
            </button>
        </div>
    </div>

<!-- CREATE NEW SERIES ///////////////////////////////////////////////-->
    <div create-series ng-if="createSeries"></div>

<!-- SEARCH RESULT  //////////////////////////////////////////////////////// -->
    <div  class="content-wrapper" ng-if="showResult">
        <div style="display: inline-block; float:left; width: 100%" >
            <span class="sub-title" style="display: inline-block; float:left">Search Result</span>
             <span class="tabPos-btn exportToXL-btn" style="display: inline-block; float:right; position:relative;top:20px"><a href="" id="2"  ng-click="selectSearch($event)" >Export to Excel</a></span >
        </div>
         <div class="tabWrapper" style="opacity: 1; display:inline-block; background-color:white">
            <div role="datagrid" class="grid-holder" >
               <div kendo-grid="advancedGrid"  k-options="advancedGridOptions" k-rebind="advancedGridOptions"  k-ng-delay="advancedGridOptions"  id="gridAdvanced" ></div>
            </div> 
        </div>
    </div>


 
<!-- FOOTER  //////////////////////////////////////////////////////// -->
     <div footer></div>   
</div>
<!--
<script type="text/x-kendo-template" id="template">
    <div class="fullDescription" > #: description# </div>
</script> -->