<div>Search for Series</div>
<div>Create New Series</div>
<div  class="content-wrapper">

<!-- SEARCH RESULT  //////////////////////////////////////////////////////// -->
	<div >
		<span >Search Result</span>

	</div>
	<div class="tabWrapper" style="opacity: 1; display:inline-block; background-color:white">
		<div  class="clearfix">


		</div>
	
		<div align="center" >

			<div class="col-sm-12 form-group">
					<div class="h-sep" style="margin:0 30px 10px 0" ></div>
				<span style="font-size:0.9em; color:#65768a"> Footer</span>
			</div>
		</div>
	</div>   
</div>