<!-- SEARCH SELECTOR ///////////////////////////////////////////////-->
 <div class="row " style="margin-bottom:0px" ng-init="init()">
	<div class="form-group sub-title" style="float:left;padding-right:0,font-size:1.5em">
		Create/Search for Series
	</div>
	<div  class="form-group" style="float:left;padding-top:0px">
		<ul class="searchSelection">
			<li class="tabPos-btn selectSearch-btn"><a href="" id="3"  ng-click="selectSearch($event)" > Create New Series</a></li >
			<li class="tabPos-btn selectSearch-btn selectSearchActive"><a href=""  id="1"  ng-click="selectSearch($event)" > Basic Search</a></li >
			<li class="tabPos-btn selectSearch-btn"><a href="" id="2"  ng-click="selectSearch($event)" > Advanced Search</a></li >
		</ul>
	</div>
	<div class="col-sm-6 form-group" ng-if="advancedSearch" style="margin-top:0px">
		<div class="col-sm-4 form-group">
			
			<select kendo-drop-down-list class="form-control" k-options="DDTableOptions" ng-model="fieldData.table"  id="DD-table"  k-on-change="selectTable()"></select>
			
		</div> 
		<div class="col-sm-4 form-group" ng-if="showColumn">
			<select kendo-drop-down-list id="DD-column"  ng-show="fieldData.table != ''"  k-options="DDColumnOptions"  class="form-control show-hide" ng-model="fieldData.column"  ></select>
		</div> 
		<div class="col-sm-2 form-group" ng-if="fieldData.column != ''">
			<button class="btn-primary" style="float:left; margin-top:2px"   ng-click="addToList(fieldsToDisplay)">ADD
			</button>
		</div>
		
	</div> 

	
</div>
<!-- <div class="row " ng-if="basicSearch">
	<span class="captionText" style="display: inline-block; float:left; text-align:left">Search by Name can be wildcarded with '*'</span>
</div> -->

<!-- BASIC / ADVANCED SEARCH ///////////////////////////////////////////////-->
<div class="row show-hide" ng-if="basicSearch">

	<div class="col-sm-3 form-group"  ng-repeat="field in fieldsToDisplay track by $index">
		<div class="sharedCol4">
			<div ng-if="field.dataType === 'string'" search-field label={{field.label}} table={{field.table}} display='advancedSearch' model='field.model'></div>
			<div ng-if="field.dataType === 'date'" date-field label={{field.label}} table={{field.table}}  display='advancedSearch'  model='field.model'></div>
		</div>
		<div >
			<span class="remove-btn" ng-show="$index >0 && advancedSearch"><a href="" ng-click="removeFromList(fieldsToDisplay, $index)"></a></span>			
		</div>
	</div>
	<div class="col-sm-3 form-group" style="float:left">
		<button class="btn-primary" style="float:left; margin-top:23px" ng-click="getSeries()">SEARCH
		</button>
	</div>
</div>

<!-- CREATE NEW SERIES ///////////////////////////////////////////////-->
<div  class="row show-hide" ng-if="createSeries">
<div style="display: inline-block; float:left; width: 100%" >
	<span class="captionText" style="display: inline-block; float:left; padding: 5px 0 0 20px; text-align:left">If not actively traded, click "Use Series ID" to create series record. If actively traded, use "Series Name" to create series record. </span>
</div>
	<div class="row ">
		<div class="col-sm-2 form-group">
			<div style="float:left">
				<label style="text-align:right; width:125px; padding:5px 5px 0 0">Use Series ID: </label>
			</div>
			<input type="checkbox" id="NCMECcase"  ng-click=" " style="float:left; margin-top:8px;">  		
		</div>
		<div class="col-sm-3 form-group">
			<div style="float:left">
				<label style="text-align:right;width:125px; padding:5px 5px 0 0">or Series Name: </label>
			</div>
			<input type="text" class="form-control"  style="float:left; width:65%"/>
		</div>
		<div class="col-sm-2 form-group">
			<button class="btn-primary" style="float:left" ng-click="">CREATE
			</button>
		</div>
	</div>
</div>
<!-- SEARCH RESULT  //////////////////////////////////////////////////////// -->
<div  class="content-wrapper" ng-if="showGrid">

	<div style="display: inline-block; float:left; width: 100%" >
		<span class="sub-title" style="display: inline-block; float:left">Search Result</span>
	
	</div>

	<div class="tabWrapper" style="opacity: 1; display:inline-block; background-color:white">
		<div role="datagrid" class="grid-holder" >
			<div kendo-grid="mainGrid" id="grid" k-options="mainGridOptions" k-rebind="mainGridOptions"  k-ng-delay="mainGridOptions"></div> 
		</div> 
	</div>
</div>

<div class="h-sep" style="margin:20px 0px 10px 0" ></div>
<div align="center" >
	<div class="col-sm-12 form-group">  
		<span style="font-size:0.9em; color:#65768a"> Footer</span>
	</div>
</div>