
<div ng-if="childrenList.length > 0">
	<div class="tabHead">
		<span class="tab-title">Children</span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="saveChild()" >Save</a></li>
			<li class="tab-sep" ng-if="editable"></li>
			<li class="tab-btn addPers-btn" ng-if="editable"><a href="" ng-click="addChild()" >Add a Child</a></li>
			<li class="tab-sep" ng-if="editable"></li>
			<li class="tab-btn deleteNeg-btn" ng-if="editable"><a href="" ng-click="deleteChild()" >Delete</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>
	<div class="sectionHolder">
		<!-- SUSPECT EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Name: </label>
						<input type="text" class="form-control" ng-model="childrenList[itemIndex].child" ng-blur="isEmpty($event)" required
						disabled="true"/>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Child Age in Series: </label>
						<input type="text" class="form-control" ng-model="childrenList[itemIndex].childAgeInSeries" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
					<!-- 	<label>Age Category: </label>
						<input type="text" class="form-control" ng-model="childrenList[itemIndex].ageCategory" /> -->
						<div drop-down label="Age Category" column="agecat"  model="childrenList[itemIndex].ageCategory"></div>
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div drop-down label="Gender" column="genders"  model="childrenList[itemIndex].gender"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div drop-down label="Ethnicity" column="races"  model="childrenList[itemIndex].ethnicity"></div>
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div drop-down label="Hair Color" column="haircolors"  model="childrenList[itemIndex].hairColor"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div drop-down label="Eye Color" column="eyecolors"  model="childrenList[itemIndex].eyeColor"></div>
					</div>
				</div>


				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<!-- <label>Status: </label>
						<input type="text" class="form-control" ng-model="childrenList[itemIndex].status" /> -->
						<div drop-down label="Status" column="childstatus"  model="childrenList[itemIndex].status"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Relation to child: </label>
						<input type="text" class="form-control" ng-model="childrenList[itemIndex].suspectRelationshipToChild" />
					</div>
				</div>
				<div class="sharedCol4">
					<div class="col-sm-3 form-group">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].selfProduction' ng-checked='childrenList[itemIndex].selfProduction'  > <span style='float:left;'>Self Production</span></label>
					</div>
					<div class="col-sm-3 form-group">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].childIdentified' ng-checked='childrenList[itemIndex].childIdentified'> <span style='float:left;'>Child Identified</span></label>
					</div>
					<div class="col-sm-3 form-group">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].deceased' ng-checked='childrenList[itemIndex].deceased'> <span style='float:left;'>Deceased</span></label>
					</div>
				</div>
			

				
			</div>
	
			<div class="sub-title" style="margin-top:10px" >Physical Features:</div>
			<div class="h-sep" style="margin:10px 0px 0px 0" ></div>
			<div class="row ">
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].freckles' ng-checked='childrenList[itemIndex].freckles'> <span style='float:left;'>Freckles</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].scars' ng-checked='childrenList[itemIndex].scars'> <span style='float:left;'>Scars</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].glasses' ng-checked='childrenList[itemIndex].glasses' > <span style='float:left;'>Glasses</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].moles' ng-checked='childrenList[itemIndex].moles'  > <span style='float:left;'>Mole(s)</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].braces' ng-checked='childrenList[itemIndex].braces' > <span style='float:left;'>Braces</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].makeUp' ng-checked='childrenList[itemIndex].makeUp'> <span style='float:left;'>Make up</span></label>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].tattoos' ng-checked='childrenList[itemIndex].tattoos' > <span style='float:left;'>Tattoo(s)</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].acne' ng-checked='childrenList[itemIndex].acne'> <span style='float:left;'>Acne</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].watch' ng-checked='childrenList[itemIndex].watch' > <span style='float:left;'>Watch</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].jewelry' ng-checked='childrenList[itemIndex].jewelry' > <span style='float:left;'>Jewelry</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].nailPolish' ng-checked='childrenList[itemIndex].nailPolish' > <span style='float:left;'>Nail Polish</span></label>
					</div>
				</div>
				<div class="col-sm-2 form-group">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='childrenList[itemIndex].piercings' ng-checked='childrenList[itemIndex].piercings'> <span style='float:left;'>Piercings</span></label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group" >
					<label>Description: </label>
					     <textarea type="text" ng-model="childrenList[itemIndex].description" class="form-control" id="reqCom" ></textarea>
				</div>									
			</div>
		</div>
		<!-- SUSPECT EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="!editable">
			<div class="row ">
				<div class="col-sm-3 form-group">
					<label>Child Name: </label>
					<span> {{childrenList[itemIndex].child}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].ageCategory.length > 0'>
					<label>Age Category: </label>
					<span> {{childrenList[itemIndex].ageCategory}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].childAgeInSeries.length > 0'>
					<label>Age in Series: </label>
					<span> {{childrenList[itemIndex].childAgeInSeries}}</span>
				</div>
				<!-- <div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].birthdate.length > 0'>
					<label>Birthdate: </label>
					<span> {{childrenList[itemIndex].birthdate}}</span>
				</div> -->
				
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].hairColor.length > 0'>
					<label>Hair Color: </label>
					<span> {{childrenList[itemIndex].hairColor}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].eyeColor.length > 0'>
					<label>Eye Color: </label>
					<span> {{childrenList[itemIndex].eyeColor}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].gender.length > 0'>
					<label>Gender: </label>
					<span> {{childrenList[itemIndex].gender}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].ethnicity.length > 0'>
					<label>Ethnicity: </label>
					<span> {{childrenList[itemIndex].ethnicity}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].status.length > 0'>
					<label>Status: </label>
					<span> {{childrenList[itemIndex].status}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].suspectRelationshipToChild.length > 0'>
					<label>Suspect Relation to child: </label>
					<span> {{childrenList[itemIndex].suspectRelationshipToChild}}</span>
				</div>
				<!-- <div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].childAgeInSeries.length > 0'>
					<label>Child Age in Series: </label>
					<span> {{childrenList[itemIndex].childAgeInSeries}}</span>
				</div> -->
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].selfProduction'>
					<label>Self Production: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].childIdentified'>
					<label>Child Identified: </label>
					<span> Yes</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='childrenList[itemIndex].deceased'>
					<label>Is Deceased: </label>
					<span> Yes</span>
				</div>
			</div>

			<div class="sub-title" ng-if="!editable">Physical Features:</div>
			<div class="h-sep" style="margin:5px 0px 10px 0"></div>
			<div class="row ">
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].glasses">
					<label>Glasses: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].jewelry">
					<label>Jewelry: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].piercings">
					<label>Piercings: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].scars">
					<label>Scars: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].freckles">
					<label>Freckles: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].acne">
					<label>Acne: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].watch">
					<label>Watch: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].tattoos">
					<label>Tattoo(s): </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].moles">
					<label>Moles: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].makeUp">
					<label>Make up: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].nailPolish">
					<label>Nail Polish: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if="childrenList[itemIndex].braces">
					<label>Braces: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-12 form-group" ng-if='childrenList[itemIndex].description.length > 0'>
					<label>Description: </label>
					<span>{{childrenList[itemIndex].description}}</span>
				<div>
				<!-- <div class="col-sm-3 form-group">
					<label ng-show="showSPF">Physical Features: </label>
					
					<div  ng-repeat="suspect in suspectList track by $index" ng-show="($index == itemIndex)">
					
						<span  ng-repeat="item in suspect.physicalFeatures  | keys track by $index" ng-init="value = suspect.physicalFeatures [item]" ng-show="value == true">				
							{{physicalFeatures[$index]}}  <span ng-if="value" id="spf">-</span>
						</span>
					</div> 
				</div>
				 -->
				<!-- <div  ng-repeat="suspect in suspectList track by $index"   ng-show="($index == itemIndex)">
					<div  ng-repeat="item in suspect  | keys track by $index" ng-init="value = suspect[item]">
						<div class="col-sm-3 form-group">
							<label>{{supectLabels[$index]}}: </label>
							<span> {{value}}</span>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>
</div>