<div ng-controller="ExternalCtrl">

	<div class="tabHead">
		<span class="tab-title">External Agencies  </span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit Series</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="saveInfo()" >Save</a></li>
			<li class="tab-btn deleteNeg-btn" ng-if="!editable"><a href="" ng-click="deleteSeries()" >Delete Series</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>


    <div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Transfer to Interpol</span>
		<!-- <ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Close</a></li>
		</ul> -->
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/ext-icse.html'"></div>





     <div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Justice for All</span>
		<!-- <ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispjust" ><a href=""  ng-click="dispjustice()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispjust" ><a href=""  ng-click="dispjustice()">Close</a></li>
		</ul> -->
	</div>
    <div ng-include="'/series/components/seriesInfo/panels/ext-justiceall.html'"></div>
 

  
	  <div ng-include="'/series/components/seriesInfo/panels/ext-eousa.html'"></div>
 
	  <div ng-include="'/series/components/seriesInfo/panels/ext-newsoutreach.html'"></div> 
 


	
</div>