<div ng-controller="GeneralCtrl"> 
<!-- GENERAL INFO ////////////////////////////////////////////////////////// -->
<!--<div class="row ">
<span style="font-weight: bold; color:blue; display: inline-block; float:left; padding: 30px 0 0 20px; text-align:left">{{msg}}</span>
</div>-->
	<div class="tabHead">
		<span class="tab-title">General</span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit Series</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="saveInfo()" >Save</a></li>
			<li class="tab-btn deleteNeg-btn" ng-if="!editable"><a href="" ng-click="deleteSeries()" >Delete Series</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>

	<div ng-include="'/series/components/seriesInfo/panels/gen-general.html'"></div>



<!-- CHILD IDENTIFICATION NOTE ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Child Identification Note</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-childIdNote.html'"></div>


	
<!-- IDENTIFICATION TIMELINE ////////////////////////////////////////////////////////// -->
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Identification Timeline</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispIdentTime" ><a href=""  ng-click="dispIdentTimeline()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispIdentTime" ><a href=""  ng-click="dispIdentTimeline()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-idenTimeline.html'"></div>


<!-- DATE RECORDS STARTED ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Date Record Started</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispDateRecor" ><a href=""  ng-click="dispDateRecord()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispDateRecor" ><a href=""  ng-click="dispDateRecord()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-dateRecordStarted.html'"></div>



<!-- SUMMARY STASTISTICS ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Summary Statistics</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispSumStat" ><a href=""  ng-click="dispSumStati()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispSumStat" ><a href=""  ng-click="dispSumStati()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-summaryStats.html'"></div>




<!-- IMAGE TYPE ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Image Type</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispImType" ><a href=""  ng-click="dispImTypes()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispImType" ><a href=""  ng-click="dispImTypes()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-imageType.html'"></div>

	

<!-- MEDIA ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Media</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispMedia" ><a href=""  ng-click="dispMedias()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispMedia" ><a href=""  ng-click="dispMedias()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-media.html'"></div>




	




	<!--DESCRIPTION ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Description:</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispDescription" ><a href=""  ng-click="dispDescriptions()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispDescription" ><a href=""  ng-click="dispDescriptions()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-description.html'"></div>



<!-- ACTIVITIES ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Sexual Activity</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispActivity" ><a href=""  
				ng-click="displayActivity()">Open</a></li>
			 <li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispActivity" ><a href=""  
			 	ng-click="displayActivity()">Close</a></li>
		</ul>
	</div>
	<div ng-include="'/series/components/seriesInfo/panels/gen-activity.html'"></div>



	
</div>