<div ng-controller="GeneralCtrl"> 
<!-- GENERAL INFO ////////////////////////////////////////////////////////// -->
	<div class="tabHead">
		<span class="tab-title">General</span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="addSuspect()" >Save</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>

	<div ng-include="'components/seriesInfo/panels/gen-general.html'"></div>

<!-- ACTIVITIES ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Sexual Activity</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispActivity" ><a href=""  ng-click="displayActivity()">Open</a></li>
			 <li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispActivity" ><a href=""  ng-click="displayActivity()">Close</a></li>
			<!--<li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispActivity" >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispActivity" >View</a></li>
			<li class="tab-sep" ng-show="dispActivity" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="addSuspect()"ng-show="dispActivity"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispActivity" ></li> -->
		</ul>
	</div>

	<div ng-include="'components/seriesInfo/panels/gen-activity.html'"></div>
	
<!-- IDENTIFICATION TIMELINE ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Identification Timeline</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispIdentTime" ><a href=""  ng-click="dispIdentTimeline()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispIdentTime" ><a href=""  ng-click="dispIdentTimeline()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispIdentTime"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispIdentTime" >View</a></li>
			<li class="tab-sep" ng-show="dispIdentTime" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispIdentTime"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispIdentTime" ></li> -->
		</ul>
	</div>

	<div ng-include="'components/seriesInfo/panels/gen-idenTimeline.html'"></div>

<!-- DATE RECORDS STARTED ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Date Record Started</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispDateRecor" ><a href=""  ng-click="dispDateRecord()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispDateRecor" ><a href=""  ng-click="dispDateRecord()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispDateRecor"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispDateRecor" >View</a></li>
			<li class="tab-sep" ng-show="dispDateRecor" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispDateRecor"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispDateRecor" ></li> -->
		</ul>
	</div>
	
	<div ng-include="'components/seriesInfo/panels/gen-dateRecordStarted.html'"></div>

<!-- SUMMARY STASTISTICS ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Summary Statistics</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispSumStat" ><a href=""  ng-click="dispSumStati()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispSumStat" ><a href=""  ng-click="dispSumStati()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispSumStat"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispSumStat" >View</a></li>
			<li class="tab-sep" ng-show="dispSumStat" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispSumStat"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispSumStat" ></li> -->
		</ul>
	</div>
	<div ng-include="'components/seriesInfo/panels/gen-summaryStats.html'"></div>

<!--DESCRIPTION ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Description:</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispDescription" ><a href=""  ng-click="dispDescriptions()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispDescription" ><a href=""  ng-click="dispDescriptions()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispDescription"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispDescription" >View</a></li>
			<li class="tab-sep" ng-show="dispDescription" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispDescription"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispDescription" ></li> -->
		</ul>
	</div>
	<div class="sectionHolder" ng-show="dispDescription" >
		<div class="sub-title" ng-if="!editable">Description</div>
		<div class="h-sep" style="margin:5px 0px 10px 0" ng-if="!editable"></div>
	</div>

<!-- CHILD IDENTIFICATION NOTE ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Child Identification Note</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispChiIdent" ><a href=""  ng-click="dispChiIdenti()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispChiIdent"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispChiIdent" >View</a></li>
			<li class="tab-sep" ng-show="dispChiIdent" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispChiIdent"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispChiIdent" ></li> -->
		</ul>
	</div>
	<div class="sectionHolder" ng-show="dispChiIdent" >
		<div class="sub-title" ng-if="!editable">Child Identification Note</div>
		<div class="h-sep" style="margin:5px 0px 10px 0" ng-if="!editable"></div>
	</div>

<!-- MEDIA ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Media</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispMedia" ><a href=""  ng-click="dispMedias()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispMedia" ><a href=""  ng-click="dispMedias()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispMedia"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispMedia" >View</a></li>
			<li class="tab-sep" ng-show="dispMedia" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispMedia"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispMedia" ></li> -->
		</ul>
	</div>
	<div ng-include="'components/seriesInfo/panels/gen-media.html'"></div>
	
<!-- IMAGE TYPE ////////////////////////////////////////////////////////// -->	
	<div class="tabHead"  style="margin-top:10px" ng-if="editable">
		<span class="tab-title">Image Type</span>
		<ul>
			<li id="closeGeneral-btn" class="tab-btn openPanel-btn" ng-show="!dispImType" ><a href=""  ng-click="dispImTypes()">Open</a></li>
			<li id="closeGeneral-btn" class="tab-btn closePanel-btn" ng-show="dispImType" ><a href=""  ng-click="dispImTypes()">Close</a></li>
			<!-- <li class="tab-sep"></li>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" ng-show="dispImType"  >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()" ng-show="dispImType" >View</a></li>
			<li class="tab-sep" ng-show="dispImType" ></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="" ng-show="dispImType"  >Save</a></li>
			<li class="tab-sep" ng-if="editable" ng-show="dispImType" ></li> -->
		</ul>
	</div>
	<div class="sectionHolder" ng-show="dispImType" >
		<div class="sub-title" ng-if="!editable">Image Type</div>
		<div class="h-sep" style="margin:5px 0px 10px 0" ng-if="!editable"></div>
	</div>
</div>