<div role="leftMenu">
	<div class="tabHead">
		<span class="tab-title">{{seriesName}}</span>
	</div>
	<div class="backgroundColor">
		<ul>
			<li>
				<span><a ui-sref=".general" ng-click="">General</a></span></li>
			<li>
			<li>
				<span><a ui-sref=".summary" ng-click="">Summary</a></span></li>
			<li>
				<span><a href="" ng-click="addSuspect()">Suspect ({{suspectList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addSuspect()"></a></span></span>
					<div class="subitems" ng-repeat="suspect in suspectList track by $index">
						<span><a href="" ng-click="selectItem($index, 'seriesInfo.suspect')">{{suspect.name}}</a></span>
					</div>
			</li>
			<li>
				<span><a href="" ng-click="">Children ({{childrenList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addToList(childrenList , 'Child # ' + (childrenList.length + 1))"></a></span></span>
					<div class="subitems" ng-repeat="child in childrenList track by $index">
						<span><a href="" ng-click="">{{child.name}}</a></span>
					</div>
			</li>
			<li>
				<span><a href="" ng-click="">EXIFs ({{exifsList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addToList(exifsList , 'EXIF # ' + (exifsList.length + 1))"></a></span></span>
					<div class="subitems" ng-repeat="exif in exifsList track by $index">
						<span><a href="" ng-click="">{{exif.name}}</a></span>
					</div>
			</li>
			<li>
				<span><a href="" ng-click="">Leads ({{leadsList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addToList(leadsList , 'Lead # ' + (leadsList.length + 1))"></a></span></span>
					<div class="subitems" ng-repeat="lead in leadsList track by $index">
						<span><a href="" ng-click="">{{lead.name}}</a></span>
					</div>
			</li>
			<li>
				<span><a ui-sref=".checklist" ng-click="">Checklist</a></span>
			</li>
			<li>
				<span><a ui-sref=".identifier" ng-click="">Identifiers</a></span>
			</li>
			<li>
				<span><a ui-sref=".partialfilename" ng-click="">Partial File Names</a></span>
			</li>
			<li>
				<span><a ui-sref=".bolo" ng-click="">BOLO</a></span>
			</li>
			<li>
				<span><a href="" ng-click="">LEA Pocs ({{leapocsList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addToList(leapocsList , 'LEA POC # ' + (leapocsList.length + 1))"></a></span></span>
					<div  class="subitems"ng-repeat="leapoc in leapocsList track by $index">
						<span><a href="" ng-click="">{{leapoc.name}}</a></span>
					</div>
			</li>
			<li>
				<span><a href="" ng-click="">Contacts ({{contactsList.length}})</a><span class="addMenuItem-btn"><a href="" ng-click="addToList(contactsList , 'Contact # ' + (contactsList.length + 1))"></a></span></span>
					<div class="subitems" ng-repeat="contact in contactsList track by $index">
						<span><a href="" ng-click="">{{contact.name}}</a></span>
					</div>
			</li>
		</ul>
	</div>
</div>