<div ng-controller="SeriesInfoCtrl" ng-init="init()">
	
	<div class="row " style="margin-bottom:0px" >
		<span class="tabPos-btn back-btn" style="display: block; float:left; padding:10px 0 0 10px"><a href="" id="2"  ng-click="backToSearch()" style="top:0px">Back to Search</a></span >
		<!-- <div class="title" style="float:left; margin:0 0px 0 20px,font-size:1.5em;clear:left;">
			Series Information
		</div> -->
	</div>

<!-- SEARCH RESULT  //////////////////////////////////////////////////////// -->
	<div  class="content-wrapper clearfix" style="margin-top:0px">
		<div role="leftMenu" class="leftMenuHolder">
			<div left-menu></div>
		</div> 

		<div role="mainBody" id="mainBodyWrapper" class="mainBodyHolder">
			<div ui-view="">Main Body</div>
		
		</div>
	</div>

<!-- FOOTER  //////////////////////////////////////////////////////// 
	<div footer></div>-->
</div>

