<div ng-controller="SummaryCtrl">
	<div class="tabHead">
		<span class="tab-title">Summary</span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="addSuspect()" >Save</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>
	<div class="backgroundColor" >
		<!-- GENERAL EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
	        	<div class="col-sm-3  field-form-group" ng-repeat="item in fieldsData track by $index">
	            	<div class="sharedCol4">
	                	<div field-item label={{item.label}} dddata={{item.dddata}} model='summaryData.{{item.model}}' datatype={{item.datatype}} ></div>
	            	</div>
	        	</div>
			</div>
		</div>
		<div ng-if="!editable">
			<div class="row ">dasdasdasds
	        	<div class="col-sm-3  field-form-group" ng-repeat="item in summaryData track by $index">
	            	<div class="sharedCol4">
	            		{{item}}
	                	<!-- <div field-item label={{item.label}} dddata={{item.dddata}} model='summaryData.{{item.model}}' datatype={{item.datatype}} ></div> -->
	            	</div>
	        	</div>
			</div>
		</div>
	</div>
</div>