<div ng-controller="SummaryCtrl">
	<div class="tabHead">
		<span class="tab-title">Summary</span>
		<ul>
			<li class="tab-btn editNeg-btn" ng-if="!editable" ><a href="" ng-click="editItem()" >Edit</a></li>
			<li class="tab-btn summaryNeg-btn" ng-if="editable"><a href="" ng-click="editItem()">View</a></li>
			<li class="tab-sep"></li>
			<li class="tab-btn saveNeg-btn"ng-if="editable"><a href="" ng-click="addSuspect()" >Save</a></li>
			<li class="tab-sep" ng-if="editable"></li>
		</ul>
	</div>
	<div class="backgroundColor" >
		<!-- EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
	        	<div class="col-sm-3  field-form-group" ng-repeat="item in summaryDB track by $index">
	            	<div class="sharedCol4">
	                	<div editable-item label={{item.label}} dddata={{item.dddata}} field-sect={{item.section}} field-mod={{item.model}} datatype={{item.datatype}} ></div>
	            	</div>
	        	</div>
			</div>
		</div>
		<!-- NON EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="!editable">
			<div class="row ">
	        	<div class="col-sm-3 form-group" ng-repeat="item in summaryData | keys track by $index" ng-init="value = summaryData[item]" ng-show="value.length >0 || value == true">
	        		<label>{{summaryLabels[$index]}}: </label>
					<span>{{value}}</span>
	        	</div>
			</div>
		</div>
	</div>
</div>