<div class="backgroundColor" ng-show="dispActivity" >
		<div class="sub-title" ng-if="!editable">Activities</div>
		<div class="h-sep" style="margin:5px 0px 10px 0" ng-if="!editable"></div>
			<!-- ACTIVITIES EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.bondage' > <span style='float:left;'>Bondage?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.defecation' > <span style='float:left;'>Defecation?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.exposure_genitalia_anus' > <span style='float:left;'>Exposure of Genitals/Anus?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.erotica_fully_clothed' > <span style='float:left;'>Erotica Fully Clothed?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.erotica_present' > <span style='float:left;'>Erotica Present?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.exposure_breast_chest' > <span style='float:left;'>Exposure of Breast/Chest?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.urination' > <span style='float:left;'>Urination?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.licking' > <span style='float:left;'>Licking?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.oral_copulation' > <span style='float:left;'>Oral Copulation?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.ejaculation_seen' > <span style='float:left;'>Ejaculation Seen?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.manual_stimulation' > <span style='float:left;'>Manual Stimulation?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.full_nudity' > <span style='float:left;'>Full Nudity?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.bestiality' > <span style='float:left;'>Bestiality?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.kissing' > <span style='float:left;'>Kissing?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.vaginal_penetration' > <span style='float:left;'>Vaginal Penetration?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.drugged_sleeping' > <span style='float:left;'>Drugged Sleeping?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.anal_penetration' > <span style='float:left;'>Anal Penetration?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.activity.other_sexual_content' > <span style='float:left;'>Other Sexual Content?</span></label>
					</div>
				</div>
			</div>
		</div>
		<!-- ACTIVITIES NON EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="!editable">
			<div class="row ">
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.bondage'>
					<label>Bondage: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.defecation'>
					<label>Defecation: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.exposure_genitalia_anus'>
					<label>Exposure of Genitals/Anus: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.erotica_fully_clothed'>
					<label>Erotica Fully Clothed: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.erotica_present'>
					<label>Erotica Present: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.exposure_breast_chest'>
					<label>Exposure of Breast/Chest: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.urination'>
					<label>Urination: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.licking'>
					<label>Licking: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.oral_copulation'>
					<label>Oral Copulation: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.ejaculation_seen'>
					<label>Ejaculation Seen: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.manual_stimulation'>
					<label>Manual Stimulation: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.full_nudity'>
					<label>Full Nudity: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.bestiality'>
					<label>Bestiality: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.kissing'>
					<label>Kissing: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.vaginal_penetration'>
					<label>Vaginal Penetration: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.drugged_sleeping'>
					<label>Drugged Sleeping: </label>
					<span> Yes</span>
				</div> 
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.anal_penetration'>
					<label>Anal Penetration: </label>
					<span> Yes</span>
				</div> 
				<div class="col-sm-3 form-group" ng-if='generalInfo.activity.other_sexual_content'>
					<label>Other Sexual Content: </label>
					<span> Yes</span>
				</div>
			</div>
		</div>
	</div>