<div class="sectionHolder" ng-show="dispDateRecor" >
	<div class="sub-title" ng-if="!editable">Date Record Started</div>
	<div class="h-sep" style="margin:5px 0px 10px 0" ng-if="!editable"></div>
	<!-- EDITABLE ////////////////////////////////////////////////////////// -->
	<div ng-if="editable">
		<div class="row ">
			<div class="col-sm-3 field-form-group" ng-repeat="item in dateRecordStartedInfo track by $index">
				<div class="sharedCol4">
					<div editable-item label={{item.label}} dddata={{item.dddata}} field-sect={{item.section}} field-mod={{item.model}} datatype={{item.datatype}} ></div>
				</div>
			</div>
		</div>
	</div>
	<!-- NON EDITABLE ////////////////////////////////////////////////////////// -->
	<div ng-if="!editable">
		<div class="row ">
			<div class="col-sm-3 view-form-group" ng-repeat="item in dateRecordStartedInfo track by $index">
				<div non-editable-item label={{item.label}} field-sect={{item.section}} field-mod={{item.model}} datatype={{item.datatype}}></div>
			</div>
			<!-- <div class="col-sm-3 form-group" ng-repeat="item in generalInfo.dateRecordStarted | keys track by $index" ng-init="value = generalInfo.dateRecordStarted[item]" ng-show="value.length >0 || value == true">
				<label>{{dateRecordStartedInfo[$index].label}}: </label>
				<span>{{value}}</span>
			</div> -->
		</div>
	</div>
</div>