<div class="sectionHolder" >
		<!-- GENERAL EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Series ID: </label>
						<input type="text" class="form-control disabled-textinput" ng-model="generalInfo.series.seriesId" disabled="true" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Series Name: </label>
						<input type="text" class="form-control" ng-model="generalInfo.series.series" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Previous Series Name: </label>
						<input type="text" class="form-control" ng-model="generalInfo.history.previousSeries" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Associated Series: </label>
						<input type="text" class="form-control" ng-model="generalInfo.history.associatedSeries" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>AKAs: </label>
						<input type="text" class="form-control" ng-model="generalInfo.series.alias" />
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Type" column="subjecttype"  model="generalInfo.series.subjecttype"></div>
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Origin Country" column="countries"  model="generalInfo.series.originCountry"></div>
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Juridiction of Production of Files" column="jurisdictions"  model="generalInfo.series.originState"></div>
					</div>
				</div>

				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Submission Type" column="submissiontype"  model="generalInfo.series.submissionType"></div>
					</div>
				</div>

				<!--<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Analyst Name" column="analysts"  model="generalInfo.general.analystName"></div>
					</div>
				</div>-->
				
				<!--<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Related to CT/TA: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.relatedToCTTA" />
					</div>
				</div>
				
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Origin State" column="states"  model="generalInfo.series.origin_state"></div>
					</div>
				</div>-->
				
				
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Related Operations" column="relatedOp"  model="generalInfo.other.relatedOperation"></div>
					</div>
				</div>
			
			</div>

			<div class="row ">
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.series.seriesnameNotChildname' ng-checked="generalInfo.series.seriesnameNotChildname"> <span style='float:left;'>Name is not Child's Name</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.evidenceGuide' ng-checked="generalInfo.other.evidenceGuide" > <span style='float:left;'>Include on Evidence Guide?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.series.availableInCris' ng-checked="generalInfo.series.availableInCris" > <span style='float:left;'>Available in Cris drop-down?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.history.historical'  ng-checked="generalInfo.history.historical"> <span style='float:left;'>Historical?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.series.activelyTracking' ng-checked="generalInfo.series.activelyTracking"> <span style='float:left;'>Actively Tracking?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.anyDistribution' ng-checked="generalInfo.other.anyDistribution" > <span style='float:left;'>Any Distribution?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.activelyTraded' ng-checked="generalInfo.other.activelyTraded" > <span style='float:left;'>Actively Traded?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.setoActivelyTraded' ng-checked="generalInfo.other.setoActivelyTraded"> <span style='float:left;'>Seto Actively Traded?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.setoLongitudinal' ng-checked="generalInfo.other.setoLongitudinal"> <span style='float:left;'>Seto Longitudinal?</span></label>
					</div>
				</div>
			<!-- 	<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.evidenceGuide' ng-checked="generalInfo.other.evidenceGuide" > <span style='float:left;'>Evidence Guide?</span></label>
					</div>
				</div> -->
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.identifiedFromOperation' ng-checked="generalInfo.other.identifiedFromOperation" > <span style='float:left;'>Identified from Operation?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.other.identifiedFromReferral' ng-checked="generalInfo.other.identifiedFromReferral" > <span style='float:left;'>Identified from Referral?</span></label>
					</div>
				</div>
				
			</div>
		</div>


		<!-- GENERAL NON EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="!editable">
			<div class="row ">
				<div class="col-sm-3 form-group" >
					<label>Series ID: </label>
					<span> {{generalInfo.series.seriesId}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.series.series.length > 0'>
					<label>Series Name: </label>
					<span> {{generalInfo.series.series}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.history.previousSeries.length > 0'>
					<label>Previous Series Name: </label>
					<span> {{generalInfo.history.previousSeries}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.history.associatedSeries.length > 0'>
					<label>Associated Series: </label>
					<span> {{generalInfo.history.associatedSeries}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.alias.length > 0'>
					<label>AKAs: </label>
					<span> {{generalInfo.series.alias}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.seriesnameNotChildname'>
					<label>Name is not Child's Name: </label>
					<span> Yes</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.subjecttype.length > 0'>
					<label> Type: </label>
					<span> {{generalInfo.series.subjecttype}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.originCountry.length > 0'>
					<label>Origin Country: </label>
					<span> {{generalInfo.series.originCountry}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.originState.length > 0'>
					<label>Juridiction of Production of Files: </label>
					<span> {{generalInfo.series.originState}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.series.submissionType.length > 0'>
					<label>Submission Type: </label>
					<span> {{generalInfo.series.submissionType}}</span>
				</div>
				
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.relatedOperation.length > 0'>
					<label>Related Operation: </label>
					<span> {{generalInfo.other.relatedOperation}}</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.other.evidenceGuide'>
					<label>Include on Evidence Guide?</label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.series.availableInCris'>
					<label>Available in Cris drop-down? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.history.historical'>
					<label>Historical? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.series.activelyTracking'>
					<label>Actively Tracking? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.anyDistribution'>
					<label>Any Distribution? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.activelyTraded'>
					<label>Actively Traded? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.setoActivelyTraded'>
					<label>Seto Actively Traded? </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.setoLongitudinal'>
					<label>Seto Longitudinal? </label>
					<span> Yes</span>
				</div>
				
				<div class="col-sm-3 form-group" ng-if='generalInfo.other.identifiedFromReferral'>
					<label>Identified from Referral? </label>
					<span> Yes</span>
				</div>

				<div class="col-sm-3 form-group" ng-if='generalInfo.other.identifiedFromOperation'>
					<label>Identified from Operation? </label>
					<span> Yes</span>
				</div>	

				

			</div>
		</div>
	</div>