<div class="sectionHolder" >
		<!-- GENERAL EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="editable">
			<div class="row ">
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Series ID: </label>
						<input type="text" class="form-control disabled-textinput" ng-model="generalInfo.general.seriesId" disabled="true" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Series Name: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.seriesName" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Analyst Name" column="analysts"  model="generalInfo.general.analystName"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Series Type" column="subjecttype"  model="generalInfo.general.subjecttype"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Related to CT/TA: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.relatedToCTTA" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Previous Series Name: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.previous_series" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Alias: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.alias" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>Associated Series: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.associated_series" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<label>AKA: </label>
						<input type="text" class="form-control" ng-model="generalInfo.general.AKA" />
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Origin Country" column="jurisdictions"  model="generalInfo.general.origin_country"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Origin State" column="states"  model="generalInfo.general.origin_state"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Juridiction of Production of Files" column="states"  model="generalInfo.general.juProdFile"></div>
					</div>
				</div>
				<div class="col-sm-3 form-group">
					<div class="sharedCol4">
						<div  drop-down label="Submission Type" column="submissiontype"  model="generalInfo.general.submission_type"></div>
					</div>
				</div>
			</div>

			<div class="row ">
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.seriesname_not_childname' > <span style='float:left;'>Ser. Name is not Child's Name</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.inEviGui' > <span style='float:left;'>Include on Evidence Guide?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.available_in_cris' > <span style='float:left;'>Available in Cris drop-down?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.historical' > <span style='float:left;'>Historical?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.actively_tracking' > <span style='float:left;'>Actively Tracking?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.any_distribution' > <span style='float:left;'>Any Distribution?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.actively_traded' > <span style='float:left;'>Actively Traded?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.seto_actively_traded' > <span style='float:left;'>Seto Actively Traded?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.seto_longitudinal' > <span style='float:left;'>Seto Longitudinal?</span></label>
					</div>
				</div>
				<div class="col-sm-3 form-group-checkbox">
					<div class="sharedCol4">
						<label style='padding-top:25px'>
						<input type='checkbox'  style='float:left; clear:left; margin:5px 10px 0 0; ' ng-model='generalInfo.general.evidence_guide' > <span style='float:left;'>Evidence Guide?</span></label>
					</div>
				</div>
			</div>
		</div>

		<!-- GENERAL NON EDITABLE ////////////////////////////////////////////////////////// -->
		<div ng-if="!editable">
			<div class="row ">
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.seriesId.length > 0'>
					<label>Series ID: </label>
					<span> {{generalInfo.general.seriesId}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.seriesName.length > 0'>
					<label>Series Name: </label>
					<span> {{generalInfo.general.seriesName}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.analystName.length > 0'>
					<label>Analyst Name: </label>
					<span> {{generalInfo.general.analystName}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.subjecttype.length > 0'>
					<label>Series Type: </label>
					<span> {{generalInfo.general.subjecttype}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.relatedToCTTA.length > 0'>
					<label>Related to CT/TA: </label>
					<span> {{generalInfo.general.relatedToCTTA}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.previous_series.length > 0'>
					<label>Previous Series Name: </label>
					<span> {{generalInfo.general.revious_series}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.alias.length > 0'>
					<label>Alias: </label>
					<span> {{generalInfo.general.alias}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.associated_series.length > 0'>
					<label>Associated Series: </label>
					<span> {{generalInfo.general.associated_series}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.AKA.length > 0'>
					<label>AKA: </label>
					<span> {{generalInfo.general.AKA}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.origin_country.length > 0'>
					<label>Origin Country: </label>
					<span> {{generalInfo.general.origin_country}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.origin_state.length > 0'>
					<label>Origin State: </label>
					<span> {{generalInfo.general.origin_state}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.juProdFile.length > 0'>
					<label>Juridiction of Production of Files: </label>
					<span> {{generalInfo.general.juProdFile}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.submission_type.length > 0'>
					<label>Submission Type: </label>
					<span> {{generalInfo.general.submission_type}}</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.seriesname_not_childname'>
					<label>Ser. Name is not Child's Name: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.inEviGui'>
					<label>Include on Evidence Guide: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.available_in_cris'>
					<label>Available in Cris drop-down: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.historical'>
					<label>Historical: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.actively_tracking'>
					<label>Actively Tracking: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.any_distribution'>
					<label>Any Distribution: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.actively_traded'>
					<label>Actively Traded: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.seto_actively_traded'>
					<label>Seto Actively Traded: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.seto_longitudinal'>
					<label>Seto Longitudinal: </label>
					<span> Yes</span>
				</div>
				<div class="col-sm-3 form-group" ng-if='generalInfo.general.evidence_guide'>
					<label>Evidence Guide: </label>
					<span> Yes</span>
				</div>
			</div>
		</div>
	</div>